<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="AllureSuite">
    <listeners>
        <listener class-name="io.qameta.allure.testng.AllureTestNg"/>
    </listeners>
    <test name="AllureTest">
        <classes>
            <class name="com.showcase.tests.LoginTest"/>
        </classes>
    </test>
</suite>